Package: com.montazery.msgphoto
Name: MsgPhoto
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Montazery Hasibuan
Author: Montazery Hasibuan
Section: Tweaks
Version: 0.0.1-6
Installed-Size: 60
